<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggning</title>
</head>
<body>
    <h2>Inloggning</h2>

    <form action="/login" method="post">
        <label for="username">Användarnamn:</label>
        <input type="text" id="username" name="username"><br><br>
        
        <label for="password">Lösenord:</label>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Logga in">
    </form>
    
    <br>
    <a href="/register">Skapa konto</a>

</body>
</html>